
<%- title "Instalympics - #{@eventgroup.name} - All Events" %>
 <script type="text/javascript" charset="utf-8">
     $(function() {
         $("img.lazy").lazyload();
     });
</script>

<div class="">  
  <div class="header">
    <h1><%= @eventgroup.name%> - All Events</h1>
  </div>


  <br>
  <ul>


    <div id="images">
      <%= render :partial => "images/polaroid_eg", :collection => @events %>

    </div>


  </ul>


  </div>
</div>



<p id="notice"><%= notice %></p>
