<div class="">  
  <div class="header">
    <h1><%= @eventgroup.name%> - </h1>
  </div>


  <br>
  <ul>
    <% @events.each do |event| %>

      <% if Image.find_by_id(event.thumb_img_id) %>
          <li class="concert-thumbnail-polaroid">
      <%= link_to( image_tag(Image.find_by_id(event.thumb_img_id).img_lowres_url), event ) %><br/>
      <div class="polaroid-caption">
          <%= event.details %>
      </div>
          </li>
      <% end %>

    <% end %>
  </ul>


  </div>
</div>



<p id="notice"><%= notice %></p>
