<div class="">  
  <div class="header">
    <h1><%= @eventgroup.name%> - All Events</h1>
  </div>


  <br>
  <ul>


    <div id="images">
      <%= render :partial => "images/polaroid_eg", :collection => @events %>

    </div>
      <%= will_paginate @events %>

  </ul>


  </div>
</div>



<p id="notice"><%= notice %></p>
