<script type="text/javascript" charset="utf-8">
  $('#myModal').modal('show')
  
  $('.carousel').carousel({
    interval: null
  })
</script>

<ul>
  <% @event.images.each do |image| %>
  <li class="concert-thumbnail">
    <%= link_to (image_tag image.img_standard_url, :id => image.id), "#myModal", :data => {:toggle => "modal" } %>
  </li>
  <% end %>
</ul>

<div class="modal hide" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Concert Title</h3>
  </div>
  <div class="modal-body">
    
    <!-- Image carousel -->
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        
        <% current_index = 0 %>
        <% @event.images.each_with_index do |image, index| %>
              <div class="<% if index == current_index %>active<% end %> item">
              <%= link_to(image_tag(image.img_standard_url), "#") %>
            </div>
  
        <% end %>

        <!-- <div class="active item">
          <%= link_to image_tag "http://s3.amazonaws.com/static.fab.com/inspiration/61437-612x612-1.png" %>
        </div>

        <div class="item">
        <%= link_to image_tag "http://blogs-images.forbes.com/mindylubber/files/2011/09/starbucks-coffee-cup.jpg" %>
        </div> -->

      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>    

  </div>
  <div class="modal-footer">
    <div class="profile-pic">
      <img src="http://distilleryimage1.instagram.com/42376ee09b7211e181bd12313817987b_7.jpg" />
    </div>
    <div class="comments">
      Comments go here lots and lots of comments and other text and i wonder how this will pan out and where it will end up
    </div>
  </div>
</div>
