/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";


body {
	padding-top: 60px;
	font-family: 'Nunito', serif;
	height: 100%;
}


.navbar-inner {
	background: #912B82;
}

.navbar .nav li a
{
	color: #E6E6E6;
}

.navbar .nav .dropdown .dropdown-menu li a
{
	color: black;
}
.navbar .nav .dropdown .dropdown-menu li a:hover
{
	background: #FF87ED;
}



.navbar .brand {
	font-size: 30px;
	font-family: 'Nunito', serif;
/*  color: #E20079;*/
/*	-webkit-text-stroke: 1px white;*/
	font-weight: normal;
	letter-spacing: 1px;
	background-color: #912B82 ;
/*	text-shadow:
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;*/
}

.navbar a:dropdown-toggle {
	color: #fff;
}


.leftnav {
	float: left;
	height: 100%;
	width: 140px;
}

.rightnav {
	float: right;
}


h1 {
	font-family: 'Nunito', serif;
	font-size: 24px;
}

h2 {
	font-size: 24px;
}

.row {
	margin-left: 0px;
}

.concerts {
	font-size: 18px;
	line-height: 1.5em;
	margin-left: 0px;
	padding-left: 0px;
}

ul {
	list-style: none;
	margin-left: 0;
}


li.concert-thumbnail-polaroid {
	float: left;
	box-shadow: 0px 2px 3px rgba(34, 25, 25, 0.5);
	margin: 0px 12px 12px 0px;
	width:222px;
	height: 300px;
	background: #F0F0F0;
	overflow:hidden;
}

li.concert-thumbnail-polaroid img {
	width: 210px;
		margin: 6px;
}

li.concert-thumbnail {
	float: left;
	box-shadow: 0px 2px 3px rgba(34, 25, 25, 0.5);
	margin: 0px 12px 12px 0px;
}


li.concert-thumbnail img {
	width: 222px;
}

.polaroid-caption {
	height: 78px;
	font-family: 'Arial', sans-serif;
	position: relative;
}

.polaroid-caption .instacaption {
	padding: 6px;
	font-family: 'Just Another Hand', sans-serif;
	font-size: 20px;
	overflow:hidden;
}
.polaroid-caption .datetime {
	position:absolute;
	bottom: 5px;
	right: 6px;
	font-family: 'Courier', sans-serif;
	font-size: 10px;
	color: #AAA;
}

.city {
	width: 350px;
	padding: 0px 0px;
	height: 200px;
	position: relative;
}

.city-name {
	position: absolute;
	padding: 12px 0;
	height: 176px;
	width: 350px;
	display: table;
}

.city-name h1 {
	padding: 0px;
	font-size: 48px;
	display: table-cell;
	vertical-align: middle;
	line-height: 1.0em;
}

.concert {
	padding-bottom: 20px;
}

.concert-image {
	float: left;
}

.concert-image img {
	width: 200px;
}

.event-date {
	position: relative;
	float: left;
	height: 176px;
	width: 350px;
	padding: 12px 0px;	
}

.event-description {
	position: absolute;
	display: table;
	height: 176px;
	color: #888;
}

.header {
	text-align: left;
	padding: 0px 0px;
}

.subheader {
	text-align: left;
	padding: 0px 0px;
	font-size: 16px;

}


.event-date h2 {
	display: table-cell;
	vertical-align: middle;
	font-size: 28px;
	line-height: 1em;
}

span.date {
}

span.venue {
	font-weight: normal;
}

.float-left {
	float: left;
	text-align: right;
	padding-right: 20px;
}
	
.float-right {
	float: right;
	text-align: left;
	padding-left: 20px;
}

.footer {
	width:100%;
	height:30px;
	color: #9A8CA6;
}


.footer a {
	color: #9A8CA6;
}
.footer a:visited {
	color: #9A8CA6;
}

.footer-container{
	font-size: 8px;
	font-weight: bold;
	font-style: italic;
	padding: 4px;
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.modal {
	width: 810px;
	background: black;
	border: none;
	top: 40%;
	left: 44%;
}

.modal-body {
	margin: 0;
	padding-bottom: 0;
	max-height: none;
	overflow-y: hidden;
	border: none;
//	height: 630px;
}

.modal img {
	margin-left: 88px;
}

.modal-header {
	border-bottom-color: #eee;
}

.modal-header h3 {
	color: #BBBDC0;
	font-weight: normal;
	font-size: 24px;
	padding: 6px 15px;
}

.modal-header .close {
	border: none;
	background: black;
	color: white;
}

.modal-footer {
	padding: 15px;

	background: black;
}

.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
	
}

.carousel {
	border: none;
	margin-bottom: 12px;
	width: 100%;
}

.carousel-inner {
	max-height: none;
	overflow-y: hidden;
}

.carousel-control, .left, .right {
	top: 50%;
	z-index: 2;
}

.carousel .item, .carousel .active {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.carousel-caption { 
	position: relative; 
	color: white;
	width: 100%;
	height: 100%;
	border-top-color: #eee;
	border-top-weight: 2px;
	background: #111;
}

.carousel-caption a { 
	color: white;
	font-weight: bold;
}

.profile-pic img {
	width: 60px;
	float: left;
}

.comments {
	float: left;
	text-align: left;
	width: 550px;
	margin-left: 12px;
	color: white;
	font-size: 13px;
	line-height: 1.5em;
	padding-right: 0px;
}