<li class="concert-thumbnail-polaroid">
  <%= link_to (image_tag 'blank.gif', :id => polaroid_main.id, :'data-original' => polaroid_main.img_lowres_url, :class => "lazy"), "#myModal", :data => {:toggle => "modal" } %>
  <div class="polaroid-caption">
    <div class="instacaption">
    <%= "#{polaroid_main.caption_text}" %>
    </div>
    <div class="datetime">
      <%= polaroid_main.img_time %>
    </div>
  </div>
</li>
