
<li class="concert-thumbnail-polaroid">
<%= link_to (image_tag 'blank.gif', :'data-original' => Image.find_by_id(polaroid_eg.thumb_img_id).img_lowres_url, :class => "lazy"), polaroid_eg %>

<br/>
  <div class="polaroid-caption">
    <div class="eventcaption">
    <%= "#{polaroid_eg.details}" %>
    </div>
    <div class="datetime">
      <%= Time.at(polaroid_eg.min_timestamp) %>
    </div>
  </div>
</li>